.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-center {
    @extend .flex;
    @extend .flex-align-center;
    @extend .flex-justify-center;
}
