$color-1: rgb(86, 0, 126);

$color-2: rgb(107, 107, 107);
$color-3: rgba(235, 235, 235, 0.863);

$color-4: rgb(22, 22, 22);
$color-5: rgb(36, 36, 36);

$color-6: rgb(245, 245, 255);
$color-7: rgb(214, 214, 214);

$color-8: white;

$color-9: rgba(0, 0, 0, 0.616); // Opacity