aside#dashboard-menu {
    grid-area: dashboard-menu;
    @extend .test-2;
    @extend .pos-relative;

    div {
        @extend .font-2em;
        @extend .flex-center;

        font-weight: bold;
        height: 70px;
        width: 100%;
        background-color: $black;

        span {
            color: white;

            span {
                color: $purple;
            }
        }
    }

    nav {
        height: calc(100% - 70px);
        background-color: $light-black;

        ul {
            li {
                i {
                }

                a {
                    color: white;
                }
            }
        }

        button {
            @extend .pos-absolute;
            @extend .flex-center;

            flex-direction: row;
            justify-content: space-evenly;
            height: 50px;
            width: 200px;
            color: black;
            font-weight: bold;
            border-radius: 15px;
            cursor: pointer;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);

            &:hover {
                outline: 3px solid rgb(255, 0, 0);
                color: red
            }

            i {
                @extend .font-15em;
                color: $purple;
            }
        }
    }
}
