main {
    grid-area: main-content;

    display: grid;
    grid-template-areas:
        "header header"
        "panel-content updates-content"
    ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px 1fr;
    
}
