@media screen and (max-width: 1187px) {
    header {
        div:nth-of-type(1) {
            display: none;
        }
    }

    header {
        div:nth-of-type(2) {
            width: 100%;
        }
    }
}

@media screen and (max-width: 979px) {
    main#main-content {
        grid-template-columns: 1fr;
    }

    main {
        aside#updates-content {
            display: none;
        }
    }
}

@media screen and (max-width: 899px) {

    body {
        aside#dashboard-menu {
            width: 0;
            overflow: hidden;
            position: absolute;
            height: calc(100vh - 68px);
            top: 68px;
            z-index: 1;
            transition: 0.2s;
        }
    }

    header {
        i#menu-button {
            display: block;
        }
    } 

    body {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 737px) {
    header {
        div:nth-of-type(2) {
            padding-left: 0px;
            span:nth-of-type(1) {
                display: none;
            }
        }
    } 
}

@media screen and (max-width: 600px){
    main {
        section#panel-content {
            div:nth-of-type(3) {
                display: block;

                form, div:nth-of-type(1) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 442px){
    main {
        section#panel-content {
            div:nth-of-type(2) {
                & > div {
                    a {
                        white-space:initial
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        div:nth-of-type(2) {
            img {
                display: none;
            }
        }
    }
}