aside#updates-content {
    background-color: $color-7;
    grid-area: updates-content;
    overflow-y: scroll;

    h1 {
        @extend .flex-center-column;
        @extend .font-20;
        @extend .bold;
        color: $color-9;
        height: 100px;
        border-bottom: 2px solid $color-10;
    }

    & > div {
        height: 100%;
        padding: 30px;

        & > div {
            @extend .pos-relative;
            border-left: 2px solid $color-10;
            padding: 0px 0px 40px 40px;
            margin-bottom: 20px;
            
            & > span:nth-of-type(1) {
                @extend .pos-absolute;
                left: -11px;
                top: -20px;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                border: 2px solid $color-10;
            }

            & > span:nth-of-type(2) {
                color: $color-2;
            }

            h3 {
                @extend .bold;
                margin: 20px 0px;
                color: $color-9;
            }

            p {
                color: $color-2;

                a {
                    @extend .bold;

                    color: $color-9;
                    text-decoration: underline;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}
