* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* visibility Test styles */
.test-1 {
  background-color: #a5a5a5;
  border: 2px solid red;
}

.test-2 {
  background-color: orange;
  border: 2px solid black;
}

/* Menu styles */
.menu {
  top: 0;
  position: absolute;
  z-index: 2;
}

.mobile_menu {
  display: none;
}

/* Width classes*/
.w100 {
  width: 100%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Height classes*/
.h100 {
  height: 100%;
}

.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* Padding classes*/
.padd-5 {
  padding: 5px;
}

.padd-10 {
  padding: 10px;
}

.padd-30 {
  padding: 30px;
}

.padd-b-30 {
  padding-bottom: 20px;
}

.padd-t-30 {
  padding-top: 30px;
}

/* Margin classes*/
.marg-5 {
  margin: 5px;
}

.marg-10 {
  margin: 10px;
}

.marg-t-30 {
  margin-top: 20px;
}

.marg-b-30, .panel-content-container, section#panel-content > div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div, .panel-content-container h1, section#panel-content > div h1, section#panel-content div:nth-of-type(3) form h1, section#panel-content div:nth-of-type(3) > div h1,
.panel-content-container h2,
section#panel-content > div h2,
section#panel-content div:nth-of-type(3) form h2,
section#panel-content div:nth-of-type(3) > div h2 {
  margin-bottom: 20px;
}

.marg-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Display classes*/
.flex, .flex-center-column, aside#dashboard-menu div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div, aside#updates-content h1, main section#panel-content div:nth-of-type(3), .flex-center-row, aside#dashboard-menu nav button, header, header div, header div:nth-of-type(2) form, aside#dashboard-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column, .flex-center-column, aside#dashboard-menu div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div, aside#updates-content h1, main section#panel-content div:nth-of-type(3), aside#dashboard-menu nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-align-center, .flex-center-column, aside#dashboard-menu div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div, aside#updates-content h1, main section#panel-content div:nth-of-type(3), .flex-center-row, aside#dashboard-menu nav button, header, header div, header div:nth-of-type(2) form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center, .flex-center-column, aside#dashboard-menu div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div, aside#updates-content h1, main section#panel-content div:nth-of-type(3), .flex-center-row, aside#dashboard-menu nav button, header, header div, header div:nth-of-type(2) form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-space-evenly, aside#dashboard-menu nav ul, header div:nth-of-type(2), section#panel-content div:nth-of-type(3) > div {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.grid, section#panel-content div:nth-of-type(3) {
  display: -ms-grid;
  display: grid;
}

/* Position classes*/
.pos-relative, aside#dashboard-menu, aside#updates-content > div > div {
  position: relative;
}

.pos-absolute, aside#dashboard-menu nav button, aside#updates-content > div > div > span:nth-of-type(1) {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/* Text font size Classes*/
.font-20, .panel-content-container h1, section#panel-content > div h1, section#panel-content div:nth-of-type(3) form h1, section#panel-content div:nth-of-type(3) > div h1,
.panel-content-container h2,
section#panel-content > div h2,
section#panel-content div:nth-of-type(3) form h2,
section#panel-content div:nth-of-type(3) > div h2, aside#updates-content h1 {
  font-size: 20px;
}

.font-40 {
  font-size: 45px;
}

.font-09em, section#panel-content div:nth-of-type(2) div a, section#panel-content div:nth-of-type(3) > div > a {
  font-size: 0.9em;
}

.font-12em {
  font-size: 1.2em;
}

.font-15em, aside#dashboard-menu nav button i {
  font-size: 1.5em;
}

.font-2em, aside#dashboard-menu div, header i#menu-button {
  font-size: 2em;
}

/* Text Style Classes*/
.bold, .panel-content-container h1, section#panel-content > div h1, section#panel-content div:nth-of-type(3) form h1, section#panel-content div:nth-of-type(3) > div h1,
.panel-content-container h2,
section#panel-content > div h2,
section#panel-content div:nth-of-type(3) form h2,
section#panel-content div:nth-of-type(3) > div h2, section#panel-content div:nth-of-type(3) form input[type="submit"], aside#updates-content h1, aside#updates-content > div > div h3, aside#updates-content > div > div p a {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-justify, .panel-content-container p, section#panel-content > div p, section#panel-content div:nth-of-type(3) form p, section#panel-content div:nth-of-type(3) > div p,
.panel-content-container a,
section#panel-content > div a,
section#panel-content div:nth-of-type(3) form a,
section#panel-content div:nth-of-type(3) > div a,
.panel-content-container span,
section#panel-content > div span,
section#panel-content div:nth-of-type(3) form span,
section#panel-content div:nth-of-type(3) > div span {
  text-align: justify;
}

.line-h-27 {
  line-height: 27px;
}

/* Extra Classes*/
.panel-content-container, section#panel-content > div, section#panel-content div:nth-of-type(3) form, section#panel-content div:nth-of-type(3) > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(235, 235, 235, 0.863);
}

.panel-content-container h1, section#panel-content > div h1, section#panel-content div:nth-of-type(3) form h1, section#panel-content div:nth-of-type(3) > div h1,
.panel-content-container h2,
section#panel-content > div h2,
section#panel-content div:nth-of-type(3) form h2,
section#panel-content div:nth-of-type(3) > div h2 {
  color: rgba(0, 0, 0, 0.616);
}

.panel-content-container p, section#panel-content > div p, section#panel-content div:nth-of-type(3) form p, section#panel-content div:nth-of-type(3) > div p,
.panel-content-container a,
section#panel-content > div a,
section#panel-content div:nth-of-type(3) form a,
section#panel-content div:nth-of-type(3) > div a,
.panel-content-container span,
section#panel-content > div span,
section#panel-content div:nth-of-type(3) form span,
section#panel-content div:nth-of-type(3) > div span {
  color: rgba(102, 102, 102, 0.616);
  line-height: 22px;
}

.action-links, section#panel-content div:nth-of-type(2) div a, section#panel-content div:nth-of-type(3) > div > a {
  color: white;
  background-color: rgba(210, 210, 210, 0.863);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

aside#dashboard-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dashboard-menu;
}

aside#dashboard-menu div {
  font-weight: bold;
  height: 70px;
  width: 100%;
  background-color: #161616;
  cursor: pointer;
}

aside#dashboard-menu div span {
  color: white;
}

aside#dashboard-menu div span span {
  color: #56007e;
}

aside#dashboard-menu nav {
  height: calc(100% - 70px);
  background-color: #242424;
}

aside#dashboard-menu nav ul {
  padding-left: 20px;
  height: 300px;
  padding-top: 30px;
  list-style: none;
}

aside#dashboard-menu nav ul li i {
  color: #6b6b6b;
  margin-right: 10px;
}

aside#dashboard-menu nav ul li a {
  color: #6b6b6b;
}

aside#dashboard-menu nav ul li:hover i {
  color: #56007e;
}

aside#dashboard-menu nav ul li:hover a {
  color: white;
}

aside#dashboard-menu nav ul li.selected i {
  color: #56007e;
}

aside#dashboard-menu nav ul li.selected a {
  color: white;
}

aside#dashboard-menu nav button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40px;
  width: 170px;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
}

aside#dashboard-menu nav button:hover {
  outline: 3px solid red;
  color: red;
}

aside#dashboard-menu nav button i {
  margin-right: 5px;
  color: #56007e;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main-content;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "panel-content updates-content";
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 70px 1fr;
}

header {
  border-bottom: 2px solid rgba(235, 235, 235, 0.863);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

header i#menu-button {
  display: none;
  cursor: pointer;
  color: #56007e;
  border-radius: 5px;
  margin-left: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header div {
  height: 100%;
  padding-left: 30px;
}

header div span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

header div span:hover {
  text-shadow: 0px 0px 5px #56007e;
}

header div:nth-of-type(1) {
  border-right: 2px solid rgba(235, 235, 235, 0.863);
  width: 30%;
}

header div:nth-of-type(2) {
  width: 70%;
}

header div:nth-of-type(2) img {
  height: 40px;
  width: 40px;
  border: 1px solid #3a3a3a;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}

header div:nth-of-type(2) img:hover {
  outline: 1px solid #56007e;
}

header div:nth-of-type(2) > i {
  cursor: pointer;
  position: relative;
  color: #56007e;
  background-color: #faeeff;
  font-size: 35px;
  border-radius: 100%;
  padding: 5px;
}

header div:nth-of-type(2) > i:hover {
  outline: 1px solid #56007e;
}

header div:nth-of-type(2) > i span {
  border-radius: 10px 10px 10px 0;
  right: -12px;
  text-align: center;
  height: 20px;
  width: 20px;
  top: -7px;
  position: absolute;
  color: white;
  background-color: #56007e;
  text-shadow: none;
}

header div:nth-of-type(2) form i {
  font-size: 30px;
  color: white;
  background-color: #56007e;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px 0px 0px 15px;
}

header div:nth-of-type(2) form input {
  border: 1px solid #eecbff;
  padding-left: 10px;
  height: 40px;
  border-radius: 0px 15px 15px 0px;
}

header div:nth-of-type(2) form input:focus {
  border: 1px solid black;
}

section#panel-content {
  padding: 20px;
  background-color: #f5f5ff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: panel-content;
  overflow-y: scroll;
}

section#panel-content div:nth-of-type(2) div {
  border: none;
}

section#panel-content div:nth-of-type(2) div a {
  line-height: 50px;
  white-space: nowrap;
}

section#panel-content div:nth-of-type(3) {
  background-color: initial;
  border: none;
      grid-template-areas: "form div1" "form div2";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
}

section#panel-content div:nth-of-type(3) i {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) i:hover {
  cursor: pointer;
}

section#panel-content div:nth-of-type(3) form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: form;
  padding: 10px;
  background-color: white;
  margin: 0;
}

section#panel-content div:nth-of-type(3) form input {
  height: 40px;
  border: 1px solid rgba(235, 235, 235, 0.863);
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
}

section#panel-content div:nth-of-type(3) form input::-webkit-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form input:-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form input::-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form input::placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form textarea {
  padding: 10px 0px 0px 10px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(235, 235, 235, 0.863);
}

section#panel-content div:nth-of-type(3) form textarea::-webkit-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form textarea:-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form textarea::-ms-input-placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form textarea::placeholder {
  color: rgba(102, 102, 102, 0.616);
}

section#panel-content div:nth-of-type(3) form input[type="submit"] {
  cursor: pointer;
  color: #666666;
}

section#panel-content div:nth-of-type(3) form input[type="submit"]:hover {
  border: 1px solid black;
}

section#panel-content div:nth-of-type(3) > div {
  padding: 20px;
}

section#panel-content div:nth-of-type(3) div:nth-of-type(1) {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: div1;
}

section#panel-content div:nth-of-type(3) div:nth-of-type(1) p > a {
  text-decoration: underline;
  color: #1d1d1d;
}

section#panel-content div:nth-of-type(3) div:nth-of-type(2) {
  margin: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: div2;
}

aside#updates-content {
  background-color: #e6e6e6;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: updates-content;
  overflow-y: scroll;
}

aside#updates-content h1 {
  color: rgba(0, 0, 0, 0.616);
  height: 100px;
  border-bottom: 2px solid #d1d1d1;
}

aside#updates-content > div {
  height: 100%;
  padding: 30px;
}

aside#updates-content > div > div {
  border-left: 2px solid #d1d1d1;
  padding: 0px 0px 40px 40px;
  margin-bottom: 20px;
}

aside#updates-content > div > div > span:nth-of-type(1) {
  left: -11px;
  top: -20px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 2px solid #d1d1d1;
}

aside#updates-content > div > div > span:nth-of-type(2) {
  color: #6b6b6b;
}

aside#updates-content > div > div h3 {
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.616);
}

aside#updates-content > div > div p {
  color: #6b6b6b;
}

aside#updates-content > div > div p a {
  color: rgba(0, 0, 0, 0.616);
  text-decoration: underline;
}

aside#updates-content > div > div p span {
  text-decoration: underline;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "dashboard-menu main-content";
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1187px) {
  header div:nth-of-type(1) {
    display: none;
  }
  header div:nth-of-type(2) {
    width: 100%;
  }
}

@media screen and (max-width: 979px) {
  main#main-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main aside#updates-content {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  aside#dashboard-menu {
    display: none;
  }
  header i#menu-button {
    display: block;
  }
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 737px) {
  header div:nth-of-type(2) {
    padding-left: 0px;
  }
  header div:nth-of-type(2) span:nth-of-type(1) {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  header div:nth-of-type(2) img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */